@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/* font-family: 'Inter', sans-serif; */

@import url("styles/header.css");

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


:root {
    --cor-de-fundo: #ffffff;
    --cor-titulo: #05051e;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Inter', sans-serif;
}