
.cabecalho {
    background-color: var(--cor-de-fundo);
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.imagem__logo {
    padding: 1em;
}

.container_menu{
    display: block;
}

.container__botao {
    display: none;
}

#menu {
    position: absolute;
    top: 24px;
    right: 19px;
    display: none;
}

.container__botao:checked~.lista__menu {
    display: block;
}

.container-imagem__menu {
    width: 46px;
    height: 40px;
    padding: 1em;
    background-image: url("../assets/images/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center;  
    display: flex;


}

.lista__menu {
    display: none;
    background-color: #FFFFFF;
    position:absolute;
    left: 130px;
    top: 0px;
    width:70vw;
    height: 878px;
   
}

.lista-menu__item{
    color: var(--cor-fonte);
    padding: 1em;
    font-family: 'Inter', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    
}

.home__menu {
    margin-top: 100px;

}









