
.cabecalho {
    background-color: var(--cor-de-fundo);
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.imagem__logo {
    padding: 1em;
}

.menu {
   position: absolute;
   left: 330px;
   top: 30px;
   display: none;
}


.imagem__menu {
    width: 70px;
    height: 40px;
    background-image: url("../assets/images/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center;  
    display: block;
    z-index: 100000;

}

.lista__menu {
    display: none;
    background-color: #FFFFFF;
    position:absolute;
    left: 130px;
    top: 0px;
    width:70vw;
    height: 100vh;
    
   
}

.botao:checked~.lista__menu {
    display: block;
}

.lista-menu__item{
    color: var(--cor-fonte);
    padding: 1em;
    font-family: 'Inter', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    
}

.home__menu {
    margin-top: 100px;

}




@media (max-width: 600px){
    #nav.active .lista__menu {
        display: block;
    }
}






